body {
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}
.photo {
    height: 150px;
    width: 120px;
    border-radius: 25px 10px;
}
#title, .subtitle, .post_title {
    color: #505050;
} 
#title {
    font-size: 40px;
    text-transform: uppercase;
}
a {
    text-decoration: line-through;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 10px;
    border-radius: 15px 15px;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}
.lista {
    list-style-type: none;
    padding: 15px;
}
